@import 'variables';
@import 'mixins';

.excel__header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: $header-height;
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;

  & .input {
    margin: 0;
    padding: 2px 7px;
    color: $text-color;
    border: 2px solid transparent;
    border-radius: 2px;
    height: 20px;
    font-size: 16px;
    line-height: 22px;
    outline: none;
    min-width: 1px;

    &:hover {
      border: 2px solid $border-color;
    }
    &:focus {
      border: 2px solid #1a73e8;
    }

  }

  & .button {
    @include button(red);
  }
}